
<html>
<head>
    <meta charset="UTF-8">
    <title>To-Do List на Flask</title>
</head>
<body>
    <h1>📋 Мой список задач</h1>

    <form action="/add" method="post">
        <input type="text" name="task" placeholder="Новая задача" required>
        <button type="submit">Добавить</button>
    </form>

    <ul>
        {% for task in tasks %}
            <li>
                {{ task }} 
                <a href="/delete/{{ loop.index0 }}">❌</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
